@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


body {
	font-family: 'DM Sans', sans-serif;
	font-size: 14px;
}


::-webkit-scrollbar {
	background-color: transparent;
	height: .6em;
	width: .6em;
}

::-webkit-scrollbar-thumb {
	border-radius: .6em;
	--tw-bg-opacity: 1;
	background-color: rgb(var(--color-gray-700) / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb:hover {
	--tw-bg-opacity: 1;
	background-color: rgb(var(--color-gray-600) / var(--tw-bg-opacity))
}
::-webkit-scrollbar-track {
	--tw-bg-opacity: 1;
	background-color: rgb(var(--color-gray-800) / var(--tw-bg-opacity));
}


